{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <h3>Filter</h3>
            <div class="list-group">
                <a href="{{ path('users.overview') }}" class="list-group-item {{ current_level == null ? 'active' : '' }}">Show all</a>

                {% for key, value in programming_level_enum.getList() %}
                    <a href="{{ path('users.overview', {'filter_programming_level': key}) }}" class="list-group-item {{ current_level != null and current_level == key ? 'active' : '' }}">{{ value }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9">
            <h3>Users</h3>
            <table id="users-overview" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Programming level</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.gender }}</td>
                            <td class="programming-level">{{ programming_level_enum.convertToPHPValue(user.programming_level) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
