{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}


{#<div id="fos_user_profile_form">#}
    {#<div>#}
        {#<label for="fos_user_profile_form_username" class="required">Username</label>#}
        {#<input type="text" id="fos_user_profile_form_username" name="fos_user_profile_form[username]" required="required" maxlength="180" pattern=".{2,}" value="joost">#}
    {#</div>#}

    {#<div>#}
        {#<label for="fos_user_profile_form_email" class="required">Email</label>#}
        {#<input type="email" id="fos_user_profile_form_email" name="fos_user_profile_form[email]" required="required" value="joost@meijdenmedia.nl">#}
    {#</div>#}

    {#<div>#}
        {#<label for="fos_user_profile_form_current_password" class="required">Current password</label>#}
        {#<input type="password" id="fos_user_profile_form_current_password" name="fos_user_profile_form[current_password]" required="required" autocomplete="current-password">#}
    {#</div>#}
{#</div>#}