<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('homepage') }}" style="padding: 10px;">
                <img alt="Brand" src="https://www.hotflo.net/wp-content/themes/hotflo/img/logo.png" style="height: 30px;" />
            </a>
        </div>

        <div class="navbar-form navbar-right">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}&nbsp;
                <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default"><i class="fas fa-user"></i> Profile</a>
                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default"><i class="fas fa-sign-out-alt"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-default"><i class="fas fa-sign-in-alt"></i> Log in</a>
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-default"><i class="fa fa-user"></i> Register</a>
            {% endif %}
        </div>
    </div>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block javascripts %}{% endblock %}

</body>
</html>