{% extends 'base.html.twig' %}

{% block body %}
    <div id="welcome" class="text-center">
        <h1><span>Welcome to</span> HOT<i>flo</i> {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
        <h1>\o/</h1>
    </div>

    <div id="status" class="row">
        <div class="col-md-5 text-right">
            <i class="fa fa-check text-success" style="font-size: 45px;"></i>
        </div>
        <div class="col-md-7">
            Your application is ready!<br />
            You can start reviewing it.
        </div>
    </div>

    <div id="next-title" class="row">
        <div class="col-md-offset-5 col-md-7">
            <h3>What's next?</h3>
        </div>
    </div>

    <div id="next" class="row">
        <div class="col-md-5 text-right">
            <i class="fas fa-book" style="font-size: 45px;"></i>
        </div>
        <div class="col-md-7">
            <ol>
                <li><a href="{{ path('users.overview') }}" target="_blank">List and filter users</a></li>
                <li>Create an account</li>
                <li>View your profile</li>
                <li>Review the code</li>
                <li><u>Hire the guy!</u></li>
            </ol>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
<style>
    #welcome, #status { margin-bottom: 4em; }
    #next-title h3 { margin-top: 0; }
    #next ol { padding-left: 20px; }
</style>
{% endblock %}
